/* share 320 start  */
.txtc{text-align: center;}
.txtr{text-align: right;}
.color_white{color: #fff;}

.info_box{
	padding: 32px 15px;
}
/* 20 32 48 */
h1{
	color: #650300;
	font-size: 20px;
	line-height: 33px;
	margin-bottom: 20px;
	text-align: center;
	font-weight: bold;
}
/* 16 20 20 */
h2{
	width: 100%;
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
}
.mod_select{
	width: 100%;
	max-width: 324px;
	height: 35px;
	border: 1px solid #CED4DA;
	padding-left: 16px;
}
.header{
	width: 100%;
	background: #AA0601;
}

.logo{
	height: 50px;
	line-height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo img{ width: auto; height: 30px;}

.menu{
	display: flex;
	flex-wrap: wrap;
}
.menu li{
	width: 50%;
	border: 1px solid #fff;
	font-size: 20px;
	line-height: 30px;
	padding: 8px 0;
	text-align: center;
}
.menu a{
	text-decoration: none;
	color: #FFFFFF;
}
.footer{
	color: #fff;
	background: #AA0601;
	padding: 24px 15px;
}
.footer_info{
	display: flex;
	padding-bottom: 24px;
	justify-content: space-between;
	border-bottom:1px solid #fff;
}
.footer_menu{
	display: none;
}
.footer_community{
	display: flex;
	flex-wrap: wrap;
}
.footer_community li{
	width: 24px;
}
.footer_community li+li{
	margin-left: 24px;
}
.phone{
	margin-bottom: 8px;
}
.phone,
.mail{
	position: relative;
	font-size: 16px;
	line-height: 30px;
	display: flex;
	align-items: center;
}
.phone::before,
.mail::before{
	content:'';
	display: block;
	margin-right: 4px;
}
.phone::before{
	width: 20px;
	height: 20px;
	background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/4baf15e7aa2800a1e312de01435b7dbf6f654843/week3/icon-phone.svg')no-repeat center/contain;
}
.mail::before{
	width: 20px;
	height: 20px;
	background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/4baf15e7aa2800a1e312de01435b7dbf6f654843/week3/icon-mail.svg')no-repeat center/contain;
}
.footer_law{
	position: relative;
	padding: 24px 0 0;
	display: flex;
	flex-wrap: wrap;
}
.footer_copyright{
	display: flex;
	flex-direction: row-reverse;
}
.copyright_pic{
	position: absolute;
	width: 46px;
	bottom: 0;
	right: 0;
}
.copyright_txt{
	margin-bottom: 7px;
}
.footer_privacy span{
	display: block;
}
.footer_privacy span+span{margin-top: 7px;}
/* share 320 end  */

/* index 320 start */
.banner{
	position: relative;
	display: flex;
	width: 100%;
	height: 395px;
	justify-content: flex-end;
	align-items: center;
	background: url('../images/week3/banner.png')no-repeat center/cover;
	padding-right: 15px;
}
.banner_txt{
	text-align: right;
	color: #650300;
}
.banner_p1{
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
}
.banner_p2{
	font-size: 32px;
	line-height: 45px;
	font-weight: bold;
}
.about{ background: #AA06010D;}
.about h1{ font-size: 24px;}

.about_item{
	width: 100%;
	text-align: center;
	padding: 0 50px;
}
.about_item+.about_item{
	margin-top: 40px;
}
.about_item .pic{
	width: 80px;
	height: 80px;
	margin: auto;
}
.about_title{
	font-size: 20px;
	color: #650300;
	font-weight: bold;
	margin-bottom: 8px;
}
.about_txt{
	text-align: left;
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
}
.product_item{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.about_item .pic{
	margin-bottom: 16px;
}
.product_item+.product_item{margin-top: 8px;}
.product_item>img{width: 345px;}
.product_item .txt{
	position: absolute;
	color: #fff;
	font-size: 28px;
	line-height: 37px;
	font-style: italic;
	font-weight: 900;
}
.product_item .txt::before{
	content:'';
	position: absolute;
	width: 32px;
	height: 32px;
	top: 0;
	bottom: 0;
	right: calc(100% + 8px);
	margin: auto 0;
}
.dig::before{
	background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/4baf15e7aa2800a1e312de01435b7dbf6f654843/week3/icon-diamond-white.svg')no-repeat center/contain;
}
.sunny::before{
	background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/4baf15e7aa2800a1e312de01435b7dbf6f654843/week3/icon-sun-white.svg')no-repeat center/contain;
}
.light::before{
	background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/4baf15e7aa2800a1e312de01435b7dbf6f654843/week3/icon-thunder-white.svg')no-repeat center/contain;
}
.design{
	background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/bg.png)no-repeat center/cover ;
}
.design_item > img{
	width: 345px;
}
.design_item{
	position: relative;
}
.design_item + .design_item{
	margin-top: 16px;
}
.design_item::before{
	content:attr(data-txt);
	color: #AA0601;
	font-size: 32px;
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	background: rgba(255,255,255,.5);
}

.recommend img{
	width: 345px;
}
.recommend_item{
	border:1px solid #DEE2E6;
}
.recommend_item+.recommend_item{
	margin-top: 16px;
}
.recommend_item .txt_box{
	padding: 16px;
}
.recommend_item .txt{
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 16px;
}
.name{
	margin-bottom: 16px;
	line-height: 21px;
}
.date{
	color: #707070;
}
.contact{
	background: #AA06010D;
}
.contact .note{
	font-size: 16px;
	line-height: 24px;
}
.contact .txt{
	margin-top: 8px;
	margin-bottom: 2px;
}
.inp_box{
	width: 100%;
	height: 36px;
	border: 1px solid #000000;
	background: transparent;
	font-size: 14px;
	padding-left: 12px;
}
.inp_box.large{
	padding-top: 10px;
	height: 100px;
}
.chbox{
	display: block;
	width: 100%;
	margin-top: 16px;
	display: flex;
	align-items: center;
	line-height: 21px;
}
.chbox input{display: none;}
.chbox span{
	display:block;
	flex: none;
	width: 10px;
	height: 10px;
	border: 1px solid #000;
	margin: 3px;
}
.contact .btn{
	display: block;
	width: 350px;
	height: 54px;
	background: #AA0601;
	color: #fff;
	margin: 42px auto 0;
}
.contact .btn{
	display: block;
	width: 165px;
	height: 36px;
	background: #AA0601;
	color: #fff;
	margin: 24px auto 0;
}


.breadcrumb{
	display: flex;
}
.breadcrumb li{
	font-size: 14px;
	line-height: 21px
}
.breadcrumb li+li::before{
	content:' / ';
	color: #000;
}
.breadcrumb li:last-child{
	color: #AA0601
}
/* index 320 end */


/* serise 320 start */
.serise_menu{
	display: flex;
	height: 35px;
}
.serise_menu li{
	position: relative;
	width: 100%;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content:center;
	border: 1px solid #DCDCDC;
}
.serise_menu li::before{
	content:'';
	display: block;
	width: 15px;
	height: 15px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin-right: 5px;
}
.serise_menu li.on::after{
	content:'';
	position: absolute;
	width: 100%;
	height: 4px;
	background: #AA0601;
	bottom: 0;
}
.serise_menu li:nth-child(1)::before{
	background-image:url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/c7639be6b4ca9e758e4c0f8fc6cb52b44e94b323/week3/icon-diamond-black.svg');
}
.serise_menu li:nth-child(2)::before{
	background-image:url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/c7639be6b4ca9e758e4c0f8fc6cb52b44e94b323/week3/icon-sun-black.svg');
}
.serise_menu li:nth-child(3)::before{
	background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/c7639be6b4ca9e758e4c0f8fc6cb52b44e94b323/week3/icon-thunder-black.svg');
}
.serise_pic{display: flex;}
.serise_pic span{
	width: 50%;
	height: 144px;
}
.serise_pic1{
	background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner-1.png')no-repeat center/cover;
}
.serise_pic2{
	background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/	banner-2.png')no-repeat center/cover;
}
.serise_txt{
	font-size: 16px;
	text-align: center;
	margin-bottom: 20px;
}
.serise_item+.serise_item{
	margin-top: 32px;
}
.serise_body h1{
	margin-bottom: 0;
	color: #000;
}
.serise_detail{
	display: flex;
	font-size: 16px;
	flex-wrap: wrap;
}
.serise_model,
.serise_money{
	width: 50%;
	line-height: 21px
}
.serise_money {
	color: #AA0601;
	text-align: right;
}
.serise_color li{
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 4px;
}
.serise_color li:nth-child(1){background: #5F3E2D;}
.serise_color li:nth-child(2){background: #B75929;}
.serise_color li+li{
	margin-left: 4px;
}
.mod_page{
	display: flex;
	margin-top: 40px;
	margin-bottom: 24px;
	justify-content: center;
}
.mod_page li{
	border: 1px solid #555555;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
}
.mod_page li.on{
	color: #fff;
	background: #000;
}
.mod_page li+li{
	border-left: none;
}
/* serise 320 end*/
/* store 320 start */
.banner_store,
.banner_question{
	display: flex;
	padding: 15px;
	width: 100%;
	height: 145px;
	align-items: flex-end;
	background: url('https://images.unsplash.com/photo-1511467094700-849a6a082fa2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')no-repeat center/cover;
}

.banner_title{
	width: 100%;
	max-width: 1110px;
	margin: 0 auto;
	position: relative;
	font-size: 28px;
	line-height: 40px;
	font-weight: 500;
	display: flex;
	align-items: center;
}
.banner_title::after{
	content:'';
	display: block;
	margin-left: 8px;
}
.banner_store .banner_title::after{
	width: 17px;
	height: 24px;
	background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/7059003f6d011be52053cb5e63d68f3999af01d7/week3/icon-location.svg')no-repeat center/cover;
}
.choose{
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.choose_txt{
	flex: none;
	font-size: 14px;
	line-height: 20px;
	margin-right: 12px;
}

.store.info_box{
	padding: 8px 15px 56px;
}
.store_title{
	border: 1px solid #00000021;
}
.area_name{
	display: block;
	font-size: 16px;
	line-height: 24px;
	padding: 8px 16px;
	border-bottom: 1px solid #00000021;
}
.store_item+.store_item{
	margin-top: 16px;
}

.area_info{
	padding: 16px;
}
.area_info li{
	font-size: 14px;
	line-height: 21px;
	display: flex;
	align-items: center;
	/* padding: 0 16px; */
}
.area_info li+li{
	margin-top: 8px;
}
.area_info li::before{
	content:'';
	width: 20px;
	height: 20px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 16px;
}
.store_phone::before{
	background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/7059003f6d011be52053cb5e63d68f3999af01d7/week3/icon-phone-black.svg');
}
.store_time::before{
	background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/7059003f6d011be52053cb5e63d68f3999af01d7/week3/icon-clock-black.svg');
}
.store_address::before{
	background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/7059003f6d011be52053cb5e63d68f3999af01d7/week3/icon-map.svg');
}
.detail_btn{
	width: 100%;
	height: 50px;
	font-size: 14px;
	line-height: 21px;
	color: #fff;
	background: #000;
}
/* store 320 end */

/* question 320 start*/
.banner_question{
	display: flex;
	padding: 15px;
	width: 100%;
	height: 145px;
	align-items: flex-end;
	background: url('https://images.unsplash.com/photo-1511467094700-849a6a082fa2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')no-repeat center/cover;
}

.banner_question .banner_title::after{
	width: 24px;
	height: 24px;
	background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/085a62fb22df4bf21c605a180648c6c6e35c2b32/week3/icon-help.svg')no-repeat center/cover;
}
.question h1{
	color: #000;
	text-align: left;
}
.question_h1{margin-bottom: 12px;}
.question_item ul{
	padding: 8px 0 20px;
}
.question_item li{
	font-size: 14px;
	line-height: 21px;
	font-weight: 500;
}
.question_item li+li{margin-top: 20px;}


/* question 320 end */

/* blogs 320 start */
.blogs_menu{
	display: none;
}
.blogs_item h2{
	color: #650300;
	margin-top: 8px;
}
.blogs_item+.blogs_item{
	margin-top: 26px;
}
.blogs_txt{
	font-size: 14px;
	line-height: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.blogs_info{
	display: none;
}
.more_txt{
	display: none;
}
.loaction_map{
	margin-top: 10px;
}

/* blogs 320 end */

@media (min-width:768px){
	/* share 768 start */
	.info_box {padding: 40px;}
	.store.info_box{
		padding: 8px 40px 56px;
	}
	h1,
	.about h1{
		font-size: 32px;
		margin-bottom: 32px;
	}
	h2{
		font-size: 20px;
		line-height: 28px;
	}
	.header{
		display: flex;
		height: 108px;
		justify-content: space-between;
		align-items: center;
		padding: 0 39px;
	}
	.menu li{
		width: auto;
		border: none;
	}
	.menu li+li{
		margin-left: 40px;
	}
	.footer{
		padding: 40px;
	}
	.footer_menu{
		display: flex;
		margin-bottom: 24px;
	}
	.footer_menu li{
		font-size: 16px;
	}
	.footer_menu li+li{
		margin-left: 40px;
	}
	.phone,
	.mail{
		font-size: 20px;
	}
	.phone::before,
	.mail::before{
		width: 32px;
		height: 32px;
		margin-right: 8px;
	}
	.footer_law{
		justify-content: space-between;
	}
	.copyright_pic{display: none;}
	.footer_privacy{
		display: flex;
	}
	.footer_privacy span+span{
		margin-top: 0;
		margin-left: 24px;
	}
	/* share 768 end */
	/* index 768 start */
	.banner{
		padding-right: 40px;
		height: 840px;
	}
	.banner_p1{
		font-size: 20px;
		line-height: 30px;
	}
	.banner_p2{
		font-size: 48px;
		line-height: 67px;
	}
	.about .info_content{
		display: flex;
		flex-wrap: wrap;
	}
	.about_item{
		width: calc(100% / 2 );
		padding: 0 45px;
		margin-bottom: 40px;
	}
	.about_item + .about_item{
		margin-top: 0;
		margin-left: 0;
	}
	.product_item{
		justify-content: flex-start;
	}
	.product_item>img{width: 390px;}
	.product_item .txt{
		position: relative;
		color: #AA0601;
		margin-left: 70px;
	}
	.dig::before{
		background-image: url('../images/week3/icon_dig.svg');
	}
	.sunny::before{
		background-image: url('../images//week3/icon_sunny.svg');
	}
	.light::before{
		background-image: url('../images//week3/icon_light.svg');
	}
	.design .info_content{
		display: flex;
		justify-content: center;
	}
	.design_item > img{
		width: 330px;
	}
	.design_item+.design_item{
		margin-top: 0;
		margin-left: 30px;
	}
	.recommend .info_content{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.recommend_item{
		width: 100%;
		max-width: 330px;
		margin-bottom: 40px;
	}
	.recommend_item+.recommend_item{margin-top: 0;}
	.contact .info_content{
		padding: 0 120px;
	}
	.contact .btn{
		width: 220px;
		font-size: 16px;
	}
	/* index 768 end */
	/* serise 768 start */
	.banner_store,
	.banner_question{
		height: 304px;
		padding: 15px 40px;
	}
	.banner_title{font-size: 48px;}
	.store .info_content{
		display: flex;
		/* justify-content: space-between; */
		flex-wrap: wrap;
	}
	.choose{
		margin-bottom: 24px;
	}
	.choose_txt{
		font-size: 16px;
		line-height: 30px;
	}
	.banner_title::after{margin-left: 16px;}
	.store_item{
		flex: none;
		width: calc(100% / 2 - 15px);
		margin-bottom: 20px;
	}
	.store_item+.store_item{
		margin-top: 0;
	}
	.store_item{
		margin-left: 30px;
	}
	.store_item:nth-child(2n){
		margin-left: 0;
	}
	.question_h1{margin-bottom: 36px;}
	.question_item ul{
		padding: 16px 0 40px 60px;
	}
	.question_item li{
		font-size: 16px;
		line-height: 24px;
	}
	.question_item li+li{margin-top: 0;}

	.serise_menu{
		height: 70px;
	}
	.serise_menu li{
		font-size: 28px;
	}
	.serise_menu li::before{
		width: 32px;
		height: 32px;
	}
	.serise_pic span{
		height: 310px;
	}
	.serise_txt{
		font-size: 24px;
		line-height: 36px;
	}
	.serise_body .info_content{
		display: flex;
		flex-wrap: wrap;
	}
	.serise_item{
		width: 50%;
		padding: 0 15px 72px;
	}
	.serise_item+.serise_item{margin-top: 0;}
	/* blogs 768 start */
	.blogs_menu {
		display: block;
		background: #650300;
	}
	.blogs_menu .info_content{
		display: flex;
		padding: 0 40px;
	}
	.blogs_menu ul{
		display: flex;
		width: 100%;
		height: 55px;
		display: flex;
		align-items: center;
	}
	.blogs_menu li{
		color: #fff;
		font-size: 16px;
		line-height: 22px;
	}
	.blogs_menu li+li{
		margin-left: 32px;
	}
	.blogs_item h2{margin-top: 0;}
	.blogs_item{
		display: flex;
		flex-wrap: wrap;
	}
	.blogs_item img{ width: 50%;}
	.blogs_txt{
		position: relative;
		width: 50%;
		padding-left: 30px;
		align-content: flex-start;
	}
	.blogs_info{
		position: relative;
		text-align: justify;
		font-size: 14px;
		line-height: 21px;
		padding-top: 16px;
		display: -webkit-box;
		-webkit-box-orient: vertical; /* 用來設定一個元素是水平還是垂直方向排列其內容 */
		-webkit-line-clamp: 6; /* 限制指定的行數 */
		overflow: hidden;
		text-overflow : ellipsis;
	}
	.more_txt{
		display: block;
		position: absolute;
		font-size: 14px;
		bottom: 5px;
		right: 0;
		background: #fff;
		padding-left: 6px;
	}

	/* blogs 768 end */

	.loaction .store_item{
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.loaction img{
		width: 50%;
	}
	.loaction .store_title{
		width: calc(50% - 30px);
	}
	.loaction .loaction_map{
		width: 100%;
	}
}
@media (min-width:1280px){
	/* share 1280 start */
	h1,
	.about h1{
		font-size: 48px;
		line-height: 72px;
		margin-bottom: 60px;
	}
	.info_content{
		width: 100%;
		max-width: 1110px;
		margin: auto;
	}
	.logo img{
		height: 48px;
	}
	.header{
		padding: 0 88px;
	}
	.menu li{
		margin-left: 64px;
	}
	.banner{
		max-width: 1920px;
		height: 840px;
	}
	.banner_p1{
		font-size: 36px;
		line-height: 50px;
	}
	.banner_p2{
		font-size: 64px;
		line-height: 96px;
	}
	.info_box{
		padding: 64px 0;
	}
	.store.info_box{
		padding: 16px 0 100px;
	}
	
	.about{
		background: #AA06010D;
	}
	.about .info_content{
		display: flex;
		justify-content: center;
		flex-wrap: nowrap;
	}
	.about_item{
		width: calc(100% / 4);
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: flex-start;
		padding: 0;
	}
	.about_item + .about_item{
		margin-left: 76px;
	}
	.about_item .pic{height: 100px;}

	.about_item .txt{
		margin-top: 40px;
	}
	.about_title{
		font-size: 24px;
		line-height: 36px;
		margin-bottom: 4px;
	}
	.about_txt{
		font-size: 16px;
		line-height: 24px;
		align-self: flex-start;
	}
	.product_item{
		display: flex;
		align-items: center;
	}
	.product_item:nth-child(2){
		flex-direction: row-reverse;
	}
	.product_item>img{
		width: 645px;
	}
	.product_item .txt{
		position: relative;
		display: block;
		font-size: 48px;
		color: #AA0601;
		margin-left: 86px;
		font-weight: 900;
	}
	.product_item:nth-child(2) .txt{
		margin-left: 0;
		margin-right: 86px;
	}
	.info_product li{
		display: flex;
		align-items: center;
	}
	.info_product li:nth-child(2) .txt{
		margin-left: 0;
		margin-right: 86px;
	}
	.product_item+.product_item{
		margin-top: 32px;
	}
	.design_item{
		position: relative;
		max-width: 540px;
	}
	.design_item::before{font-size: 76px;}
	.design_item + .design_item{
		margin-left: 30px;
	}
	.design_item > img{
		width: 100%;
	}
	.recommend .info_content{
		display: flex;
		justify-content: center;
		flex-wrap: nowrap;
	}
	.recommend img{width: 100%;}
	.recommend_item{
		width: calc(100% / 4);
		margin-bottom: 0;
	}
	.recommend_item+.recommend_item{
		margin-left: 30px;
	}
	.recommend .name{
		font-size: 14px;
		line-height: 21px;
		margin-top: 7px;
	}
	.recommend .txt{
		font-size: 16px;
		line-height: 24px;
	}
	.recommend .date{
		font-size: 14px;
		line-height: 21px;
		color: #707070;
		margin-top: 10px;
	}
	.contact h1{
		color: #000;
		margin-bottom: 24px;
	}
	.contact .txt_box{
		width: 100%;
		max-width: 730px;
		margin: auto;
	}
	.contact .note{
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 4px;
	}
	.contact .txt{
		margin-top: 16px;
		margin-bottom: 4px;
		line-height: 24px;
	}
	.chbox{
		display: block;
		width: 100%;
		margin-top: 16px;
		display: flex;
		align-items: center;
	}
	.chbox input{display: none;}
	.chbox span{
		display: inline-block;
		width: 20px;
		height: 20px;
		border: 1px solid #000;
		margin: 4px;
	}
	.contact .btn{
		width: 350px;
		height: 54px;
		margin: 42px auto 0;
	}
	.inp_box{
		height: 50px;
		font-size: 16px;
	}

	.footer{
		padding: 28px 0 8px;
	}
	.phone{margin-bottom: 17px;}
	.footer_law{
		padding: 20px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.footer_menu{
		margin-bottom: 32px;
	}

	.footer_menu li+li{
		margin-left: 48px;
		font-size: 16px;
	}
	.footer_community li{
		width: 48px;
	}
	.footer_community li+li{
		margin-left: 32px;
	}
	.footer_privacy span+span{
		margin-left: 62px;
	}
	.footer_copyright{
		flex-direction: row;
		align-items: center;
	}
	.copyright_txt{
		margin-left: 38px;
	}
	.copyright_pic{
		position: static;
		display: block;
		width: 80px;
	}
	/* share 1280 end */

	.serise_menu{
		max-width: 1390px;
		height: 100px;
		margin: auto;
	}
	.serise_menu li{font-size: 42px;}
	.serise_menu li::before{
		width: 48px;
		height: 48px;
	}
	.serise_pic span{height: 310px;}
	.serise_pic1{margin-right: 15px;}
	.serise_pic2{margin-left: 15px;}
	.serise_item{
		width: 25%;
		padding: 0 15px 100px
	}

	.banner_title::after{margin-left: 24px;}
	.choose_txt{font-size: 24px;}
	.store_item{
		width: calc(100% / 3 - 20px);
	}
	.store_item:nth-child(2n){
		margin-left: 30px;
	}
	.store_item:nth-child(0),
	.store_item:nth-child(3n - 1){
		margin-left: 0;
	}
	.area_name{
		font-size: 24px;
		line-height: 36px;
		padding: 12px 24px;
	}
	.area_info p{
		font-size: 20px;
		line-height: 30px;
	}
	.detail_btn{
		height: 65px;
		font-size: 20px;
		line-height: 26px;
	}
	.question_h1{
		font-size: 32px;
	}
	.question_item ul {
		padding: 16px 0 40px 90px;
	}
	/* blogs 1280 start */
	.blogs_item h2{
		font-size: 32px;
		line-height: 45px;
	}
	.blogs_txt .title{
		font-size: 20px;
		line-height: 26px;
		margin-bottom: 16px;
	}
	.blogs_info{
		font-size: 20px;
		line-height: 30px;
	}
	.blogs_txt{
		width: 40%;
	}
	.more_txt {
		font-size: 36px;
		line-height: 48px;
		color: #650300;
	}
	.blogs_item img{
		width: 60%;
	}
	.more_txt tt{display: none;}
	/* blogs 1280 end */
	.loaction .info_content{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.loaction .store_item{
		width: 40%;
		display: block;
	}
	.loaction .store_title{
		width: 100%;
	}
	.loaction img{
		width: 100%;
	}
	.loaction .loaction_map{
		width: calc(60% - 30px);
		margin-top: 0;
	}
}