h1.logo {
  width: 112px;
  height: 48px;
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week7/logo-fixie.svg") no-repeat center/contain;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

h1.logo a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

h2 {
  font-size: 96px;
  line-height: 128px;
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-style: italic;
}

h3 {
  font-size: 48px;
  line-height: 64px;
  font-family: 'Merriweather', serif;
  font-weight: 900;
}

h4 {
  width: 100%;
  max-width: 570px;
  font-size: 24px;
  line-height: 36px;
  font-family: 'Lato', sans-serif;
  color: #00000099;
}

.mod_btn {
  height: 60px;
  padding: 0 51px;
  font-size: 24px;
  background: #F1F5F6;
  border: 1px solid #121212;
  font-weight: bold;
}

.margin_t48px {
  margin-top: 48px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 95px;
  padding: 0 48px;
  border-bottom: 1px solid #121212;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .menu li {
  font-size: 24px;
  line-height: 29px;
  font-family: 'Lato', sans-serif;
}

.header .menu li + li {
  margin-left: 48px;
}

.product_group .product_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 960px;
  background: #F1F5F6;
}

.product_group .pic_box {
  position: relative;
  width: 50%;
  background: #000;
  overflow: hidden;
}

.product_group .pic_box .w7_pic {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.product_group .pic_box img {
  width: auto;
  height: 100%;
  position: absolute;
  bottom: 0;
}

.product_group .txt_box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 216px;
  padding-bottom: 219px;
  padding-left: 255px;
  width: 50%;
}

.product_group .read_more_arrow {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.product_group .read_more_arrow .material-icons {
  color: #fff;
  padding: 19px;
  background: #000;
  z-index: 1;
}

.product_group .read_more_txt {
  font-size: 24px;
  line-height: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product_group .read_more_txt tt {
  background: #fff;
  padding: 16px;
}

.product_group .product_item1 .w7_pic {
  height: calc(100% - 120px);
}

.product_group .product_item1 .w7_item1_txt {
  width: 100%;
  max-width: 570px;
  font-size: 24px;
  line-height: 36px;
  font-family: 'Lato', sans-serif;
  color: #00000099;
}

.product_group .product_item1 .w7_control_box {
  background: #fff;
  border: 1px solid #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
}

.product_group .product_item1 .w7_control_box button {
  width: 120px;
  height: 100%;
  text-align: center;
  font-size: 24px;
  border-right: 1px solid #121212;
}

.product_group .product_item1 .control_txt {
  padding-left: 48px;
  font-size: 48px;
  line-height: 58px;
  font-family: 'Merriweather', serif;
  font-weight: 900;
}

.product_group .product_item2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

.product_group .product_item2 .w7_item2_txt {
  width: 100%;
  max-width: 570px;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Lato', sans-serif;
  color: #00000099;
}

.product_group .product_item2 .txt_box {
  padding: 95px 125px 192px 135px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.product_group .product_item2 img {
  right: 0;
}

.product_group .product_item3 .w7_pic {
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week7/img2.jpg?raw=true");
}

.product_group .product_item3 .txt_box {
  padding: 192px 135px 95px 95px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.product_group .product_item3 .read_more_arrow .material-icons {
  color: #000;
  background: #fff;
}

.product_group .product_item3 .read_more_txt tt {
  color: #fff;
  background: #000;
  white-space: nowrap;
}

.product_group .product_item3 .big_txt {
  width: 100%;
  text-align: left;
  margin-top: 0;
  margin-bottom: 395px;
}

.product_group .product_item3 .big_txt * + * {
  margin-top: 24px;
}

.product_group .product_item3 .w7_item3_txt {
  width: 100%;
  max-width: 570px;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Lato', sans-serif;
  color: #00000099;
}

.product_group .big_txt {
  width: 100%;
  text-align: right;
  margin-top: 395px;
}

.product_group .big_txt p {
  font-size: 72px;
  line-height: 91px;
  font-family: 'Merriweather', serif;
  font-weight: 900;
}

.product_group .big_txt * + * {
  margin-top: 24px;
}

.bulit {
  position: relative;
  padding-top: 96px;
}

.bulit h3 {
  width: 600px;
  text-align: center;
  margin: auto;
}

.bulit .bulit_txt {
  width: 570px;
  max-width: 570px;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Lato', sans-serif;
  color: #00000099;
  margin: 24px auto 0;
  text-align: center;
}

.bulit .parallax {
  margin-top: 96px;
  min-height: 640px;
  background: url("https://images.unsplash.com/photo-1498036471282-05a678a132e8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80") center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bulit .txt_box {
  position: absolute;
  width: 450px;
  background: #fff;
  padding: 16px;
  left: 255px;
  bottom: 77px;
  font-family: 'Merriweather', serif;
}

.bulit .txt_box span {
  width: 100%;
  max-width: 570px;
  font-size: 24px;
  line-height: 36px;
}

.bulit .txt_box p {
  width: 100%;
  text-align: left;
  color: #00000099;
}

.ul_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 96px 255px;
  overflow: hidden;
}

.ul_card li {
  width: calc(100% / 3 - 20px);
}

.ul_card .txt_box {
  padding-top: 24px;
}

.ul_card .txt_box h4 {
  color: #000;
  line-height: 31px;
  font-weight: 900;
  font-family: 'Merriweather', serif;
}

.ul_card .txt_box .date {
  color: #00000099;
  font-size: 16px;
  line-height: 20px;
  margin-top: 16px;
}

.ul_card .txt_box .info {
  font-size: 16px;
  line-height: 24px;
  color: #00000099;
  margin-top: 16px;
}

footer {
  overflow: hidden;
  height: 96px;
}

footer .footer_box {
  max-width: 1410px;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 48px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F1F5F6;
  overflow: hidden;
}

footer .footer_box .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer_box .menu li {
  font-size: 16px;
  line-height: 20px;
}

footer .footer_box .menu li + li {
  margin-left: 48px;
}

footer .footer_box .copy_rigth {
  color: #00000099;
  font-size: 14px;
  line-height: 16px;
}

.scrollme {
  -webkit-perspective: 600px;
          perspective: 600px;
}

.animateme {
  -webkit-transform-origin: center center center;
          transform-origin: center center center;
}
/*# sourceMappingURL=week7.css.map */