.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox.*/
	-moz-osx-font-smoothing: grayscale;
	cursor: pointer;
}
h1{
	font-size: 24px;
	height: 30px;
	margin-right: 50px;
}
h2{
	font-size: 16px;
	line-height: 19px;
	height: 20px;
	display: flex;
	align-items: center;
}
h2 i {
	margin: 0 8px;
	color: #2A8356;
}
h2:hover {
	color: #2A8356;
	cursor: pointer;
}
.d_none{display: none !important;}
.d_flex{display: flex !important;}
.txtr{text-align: right;}
.margin_t4px{margin-top: 4px;}
.margin_t8px{margin-top: 8px;}
.mod_inp{
	width: 100%;
	height: 50px;
	border: 1px solid #121212;
	border-radius: 2px;
	padding: 0 10px;
	font-size: 16px;
	margin-top: 4px;
}

.mod_tb{
	width: 100%;
	text-align: left;
}
.mod_tb th{
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	border-bottom: 1px solid #121212;
}
.mod_tb th .material-icons{
	font-size: 12px;
	color: #2A8356;
}
.mod_tb td{
	height: 55px;
	vertical-align: middle;
	border-bottom: 1px solid #CDDDCD;
}
.mod_page{
	margin-top: 30px;
	display: flex;
	justify-content: flex-end;
}

.mod_page i{
	color: #2A8356;
	vertical-align: middle;
}
.mod_page ul{
	display: flex;
	border: 1px solid #2A8356;
}
.mod_page li{
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	align-content: center;
}
.mod_page li.on{
	color: #fff;
	background: #2A8356;
	cursor: pointer;
}
.mod_page li + li{
	border-left: 1px solid #2A8356;
}

.mod_select {
	width: 100%;
	height: 50px;
	padding: 0 16px;
	color: #0000009A;
}
.mod_check{
	display: flex;
	align-items: center
}
.mod_check input{display: none;}
.mod_check input:checked + span::after{
	display: block;
}
.mod_check span{
	position: relative;
	display: block;
	width: 18px;
	height: 18px;
	border: 2px solid #000;
	margin-right: 8px;
}
.mod_check span::after{
	content:'';
	position: absolute;
	top: 1px;
	left: 1px;
	margin: auto;
	width: 8px;
	height: 4px;
	border-style: solid;
	border-width: 2px;
	border-color: transparent transparent #000  #000;
	border-radius: 3px;
	transform: rotate(-45deg);
	display: none;
}

.wrap{
	height: 100%;
	display: flex;
}
.menu_box{
	position: relative;
	flex: none;
	width: 300px;
	height: 100%;
	background: #EDF4EE;
	padding: 32px 0;
}
.logo{
	width: 150px;
	margin-left: 32px;
	margin-bottom: 32px;
}
.menu li{
	position: relative;
	display: flex;
	height: 32px;
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	padding-left: 32px;
	align-items: center;
	cursor: pointer;
}
.menu li+li{
	margin-top: 30px;
}
.menu li::after{
	content:'';
	width: 4px;
	height: 0;
	position: absolute;
	background: #2A8356;
	top: 0;
	left: 0;
}
.menu li i{
	margin-right: 16px;
}
.menu li.on,
.menu li:hover,
.menu li:hover i,
.menu li.on i{
	color: #2A8356;
}
.menu li.on::after,
.menu li:hover::after{
	height: 100%;
	color: #2A8356;
	background: #2A8356;
}

.user_info{
	padding-left: 32px;
	position: absolute;
	bottom: 32px;
	display: flex;
}
.user_pic{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 16px;
}
.user_name{margin-bottom: 4px;}
.user_email{
	font-size: 14px;
	line-height: 18px;
	color: #0000009A;
}

.container{
	position: relative;
	width: calc(100% - 150px);
	padding: 32px;
	overflow: hidden;
}
.txt_box{
	display: flex;
	align-items: center;
	margin-bottom: 50px;
}
.header{
	display: flex;
	justify-content: space-between;
}
.header i + i,
td i+i{
	margin-left: 25px;
}


.assignment{
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

.assignment_list{
	width: 320px;
	flex: none;
}
.assignment_range{
	margin-bottom: 5px;
}
.assignment_range i{
	vertical-align: middle;
	color: #2A8356;
}
.assignment_list ul{
	border-radius: 3px;
}

.assignment_list_txt{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px;
	font-size: 12px;
	color: #0000009A;
	border:1px solid #CDDDCD;
}
.assignment_list_txt.on{
	background: #EDF4EE;
}

.assignment_list_txt + .assignment_list_txt{
	border-top:none;
}
.assignment_list_txt div{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.assignment_list_txt div:nth-child(2){
	flex: none;
	width: 100px;
}
.assignment_list_txt .title{
	color:#000;
	width: 100%;
}
.assignment_content{
	width: calc(100% - 336px);
	margin-left: 16px;
}
.assignment_txt{
	font-size: 12px;
	line-height: 15px;
	color: #707070;
	text-align: right;
	margin-bottom: 15px;
}
.assignment_body{
	border: solid #CDDDCD;
	border-width: 0px 1px 1px 1px;
}
.msg_icon{
	display: none;
}
.reply_item .msg_icon{
	display: block;
}
.assignment_item{
	padding: 16px 32px 16px  64px ;
	border-bottom: 1px solid #CDDDCD;
}
.reply_box{
	padding: 16px 0;
}

.msg_title{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.msg_icon .material-icons+.material-icons{
	margin-left: 24px;
}
.msg_pic{
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	right: calc(100% + 8px);
}
.msg_name{
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
}
.mag_time{
	font-size: 12px;
	line-height: 15px;
	color: #0000009A;
}
.msg_content{
	margin-top: 16px;
	font-size: 14px;
	line-height: 21px;
}
.msg_content ul{
	padding-left: 30px;
}
.msg_content li{
	list-style: disc;
}
.msg_file{
	display: inline-flex;
	margin-top: 16px;
	background: #EDF4EE;
	padding: 8px 12px;
	align-items: center;
	border-radius: 2px;
	border: 1px solid #CDDDCD;
}
.msg_file:empty{display: none;}
.msg_file .material-icons{
	margin-right: 8px;
}
.page_box{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
.function_btn_gruop {
	position: absolute;
	right: 0;
}
.mod_btn:disabled{
	border-color: #CDDDCD;
	color: #CDDDCD;
}
.mod_btn{
	height: 35px;
	border: 1px solid #2A8356;
	color: #2A8356;
	background: #fff;
	padding: 0 32px;
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	cursor: pointer;
}
.bg_green{
	color: #fff;
	background: #2A8356;
}
.bg_pink{
	border-color: #E3006E;
	color: #E3006E;
}

.reply_header{
	display: flex;
	width: 100%;
	height: 55px;
	background: #EDF4EE;
	padding: 18px 25px;
	align-items: center;
}
.reply_header *+*{
	margin-left: 30px;
}
.reply_header span{
	display: flex;
	align-items: center;
}
.reply_content{
	position: relative;
	display: flex;
	flex-wrap: wrap;
}
.reply_txt{
	width: 100%;
}
.reply_txt textarea{
	padding: 16px 24px;
	border: none;
	outline: none;
}
.btn_group{
	width: 100%;
	text-align: right;
	padding-right: 24px;
}

.mask{
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, .7);
	padding: 32px 0;
}
.cu_box{
	position: relative;
	width: 100%;
	max-width: 480px;
	height: 100%;
	margin: auto;
	background: #fff;
	padding: 0 32px ;
}
.cu_header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 32px 0;
}

.cu_header span{
	font-size: 24px;
	line-height: 29px;
}
.cu_content{
	height: calc(100% - 160px);
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.cu_item {
	padding-bottom: 24px;
}
.cu_item + .cu_item{
	padding: 24px 0;
	border-top: 1px solid #CDDDCD;
}
.cu_item > *+*{
	margin-top: 16px;
}
.cu_title{
	font-size: 20px;
}
.inp_txt{
	font-size: 14px;
}

.attest_txt.problem .material-icons{
	color: #E3006E;
	margin-right: 9px;
}
.attest_txt.check .material-icons{
	color: #2A8356;
	margin-right: 9px;
}
.cu_item .mod_btn{
	width: 100%;
	height: 50px;
	margin-top: 18px;
}

.attest_txt div{
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.attest_txt .date{
	font-size: 14px;
}


.edit .add_btn,
.edit_txt,
.check,
.edit .new_txt,
.edit .problem,
.deactivate,
.update_btn{
	display: none;
}
.edit .edit_txt,
.edit .deactivate{
	display: block;
}
.edit .update_btn{
	display: inline-block;
}
.edit .check{
	display: flex;
}
.deactivate_txt{
	align-items: center;
	color: #E3006E;
}
.deactivate_problem{
	color: #E3006E;
	margin-right: 8px;
}

.cu_btn_box{
	position: absolute;
	bottom: 0;
	right: 32px;
	padding: 16px 0;
	text-align: right;
}
.cu_btn_box .mod_btn+.mod_btn{
	margin-left: 16px;
}
.verified_box{
	width: 100%;
	max-width: 480px;
	margin: auto;
	padding: 32px;
	background: #fff;
}
.verified_item{
	display: flex;
}
.verified_pic{
	flex: none;
	width: 140px;
	height: 140px;
	background: url('https://images.unsplash.com/photo-1522069394066-326005dc26b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')no-repeat center top /cover;
	margin-right: 24px;
}
.verified_txt{
	position: relative;
	width: 100%;
}
.verified_txt .close{
	position: absolute;
	top: 0;
	right: 0;
}
.verified_name{
	font-size: 24px;
	line-height: 29px;
}
.verified_mail{
	font-size: 14px;
	line-height: 17px;
	color: #0000009A;
}
.verified_btn{
	font-size: 14px;
	line-height: 17px;
	margin-top: 20px;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}
.verified_btn .material-icons{
	transition-duration: .3s;
	color: #2A8356;
}
.verified_btn .material-icons.active{
	transform: rotate(180deg);
}
.verified_btn_box{
	margin-top: 24px;
	overflow: hidden;
	transition-duration: .3s;
	height: 0;
	opacity: 0;
}
.verified_btn_box.active{
	height: 35px;
	opacity: 1;
}
.info_box{
	height: calc(100% - 146px);
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}