.txtc{text-align: center;}
.txtr{text-align: right;}
img{vertical-align: middle;}
h1{
    color: #650300;
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 60px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.color_white{color: #fff;}

.header{
    width: 100%;
    height: 108px;
    background: #AA0601;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 88px;
}
.menu ul{
    display: flex;
}
.menu li{
    margin-left: 64px;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
}
.banner{
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1920px;
    height: 840px;
    justify-content: center;
    align-items: center;
    background: url('../images/week3/banner.png')no-repeat center/cover;
}
.banner_txt{
    text-align: right;
    color: #650300;
}
.banner_p1{
    font-size: 36px;
    line-height: 50px;
}
.banner_p2{
    font-size: 64px;
    line-height: 96px;
}
.info_box{
    padding: 64px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about{
    background: #AA06010D;
}
.info_content{
    width: 100%;
    max-width: 1110px;
}
.about .info_content{
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
}

.about_item{
    width: calc(100% / 4);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
.about_item + .about_item{
    margin-left: 76px;
}
.about_item .pic{height: 100px;}

.about_item .txt{
    margin-top: 40px;
}
.about_title{
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 4px;
    color: #650300;
    font-weight: bold;
}
.about_txt{
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    align-self: flex-start;
}
.product .info_content{
    padding-bottom: 16px;
}
.product_item{
    display: flex;
    align-items: center;
}
.product_item:nth-child(2){
    flex-direction: row-reverse;
}
.product_item>img{
    width: 645px;
}
.product_item .txt{
    position: relative;
    display: block;
    font-size: 48px;
    color: #AA0601;
    margin-left: 86px;
    font-weight: 900;
}
.product_item:nth-child(2) .txt{
    margin-left: 0;
    margin-right: 86px;
}
.product_item .txt::before{
    content:'';
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    bottom: 0;
    right: calc(100% + 8px);
    margin: auto 0;
}
.dig::before{
    background: url('../images/week3/icon_dig.svg')no-repeat center/contain;
}
.sunny::before{
    background: url('../images//week3/icon_sunny.svg')no-repeat center/contain;
}
.light::before{
    background: url('../images//week3/icon_light.svg')no-repeat center/contain;
}
.info_product li{
    display: flex;
    align-items: center;
}

.info_product li:nth-child(2) .txt{
    margin-left: 0;
    margin-right: 86px;
}
.product_item+.product_item{
    margin-top: 32px;
}

.design{
    background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/bg.png)no-repeat center/cover ;
}
.design .info_content{
    display: flex;
    justify-content: center;
}
.design_item{
    position: relative;
    max-width: 540px;
}
.design_item::before{
    content:attr(data-txt);
    color: #AA0601;
    font-size: 72px;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background: rgba(255,255,255,.5);
}
.design_item + .design_item{
    margin-left: 30px;
}
.design_item > img{
    width: 100%;
}
