h1.logo{
		width: 112px;
		height: 48px;
		background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week7/logo-fixie.svg')no-repeat center/contain;
		text-indent: 101%;
		white-space: nowrap;
		overflow: hidden;
		a{
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	
}
h2{
	font-size: 96px;
	line-height: 128px;
	font-family: 'Merriweather', serif;
	font-weight: 900;
	font-style: italic;
}
h3{
	font-size: 48px;
	line-height: 64px;
	font-family: 'Merriweather', serif;
	font-weight: 900;
}
h4{
	width: 100%;
	max-width: 570px;
	font-size: 24px;
	line-height: 36px;
	font-family: 'Lato', sans-serif;
	color: #00000099;
}

.mod_btn{
	height: 60px;
	padding: 0 51px;
	font-size: 24px;
	background: #F1F5F6;
	border: 1px solid #121212;
	font-weight: bold;
}
.margin_t48px{margin-top: 48px;}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 95px;
	padding: 0 48px;
	border-bottom: 1px solid #121212;

	.menu{
		display: flex;
		li{
			font-size: 24px;
			line-height: 29px;
			font-family: 'Lato', sans-serif;
		}
		li+li{
			margin-left: 48px;
		}
	}
}
.product_group{
	.product_item{
		display: flex;
		height: 960px;
		background: #F1F5F6;
	}
	.pic_box{
		position: relative;
		width: 50%;
		background: #000;
		overflow: hidden;
		.w7_pic{
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
		img{
			width: auto;
			height:  100%;
			position: absolute;
			bottom: 0;
		}
	}
	.txt_box{
		position: relative;
		display: flex;
		align-content: center;
		flex-wrap: wrap;
		padding-top: 216px;
		padding-bottom: 219px;
		padding-left: 255px;
		width: 50%;
	}
	.read_more_arrow{
		position: absolute;
		display: flex;
		align-items: center;
		top: 0;
		left: 0;
		bottom: 0;
		margin: auto;
		.material-icons{
			color: #fff;
			padding: 19px;
			background: #000;
			z-index: 1;
		}
	}
	.read_more_txt{
		font-size: 24px;
		line-height: 30px;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		margin: auto 0;
		display: flex;
		align-items: center;
	}
	.read_more_txt tt{
		background: #fff;
		padding: 16px;	
	}
	.product_item1{
		.w7_pic{
			height: calc(100% - 120px);
		}
		.w7_item1_txt{
			width: 100%;
			max-width: 570px;
			font-size: 24px;
			line-height: 36px;
			font-family: 'Lato', sans-serif;
			color: #00000099;
		}
		.w7_control_box{
			background: #fff;
			border: 1px solid #121212;
			display: flex;
			align-items: center;
			height: 120px;
			button{
				width: 120px;
				height: 100%;
				text-align: center;
				font-size: 24px;
				border-right: 1px solid #121212;
			}
		}
		.control_txt{
			padding-left: 48px;
			font-size: 48px;
			line-height: 58px;
			font-family: 'Merriweather', serif;
			font-weight: 900;
		}
	}
	.product_item2{
		flex-flow: row-reverse;
		.w7_item2_txt{
			width: 100%;
			max-width: 570px;
			font-size: 16px;
			line-height: 24px;
			font-family: 'Lato', sans-serif;
			color: #00000099;
		}
		.txt_box{
			padding: 95px 125px 192px 135px;
			align-content: space-between;
		}
		img{
			right: 0;
		}
	}
	.product_item3{
		.w7_pic{
			background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/week7/img2.jpg?raw=true');
		}
		.txt_box{
			padding: 192px 135px 95px 95px;
			justify-content: flex-end;
			align-content: space-between;
		}
		.read_more_arrow{
			.material-icons{
				color: #000;
				background: #fff;
			}
		}
		.read_more_txt{
			tt{
				color: #fff;
				background: #000;
				white-space: nowrap;
			}
		}
		.big_txt{
			width: 100%;
			text-align: left;
			margin-top: 0;
			margin-bottom: 395px;
			*+*{
				margin-top: 24px;
			}
		}
		.w7_item3_txt{
			width: 100%;
			max-width: 570px;
			font-size: 16px;
			line-height: 24px;
			font-family: 'Lato', sans-serif;
			color: #00000099;
		}
	}
	.big_txt{
		width: 100%;
		text-align: right;
		margin-top: 395px;
		p{
			font-size: 72px;
			line-height: 91px;
			font-family: 'Merriweather', serif;
			font-weight: 900;
		}
		*+*{
			margin-top: 24px;
		}
	}
}
.bulit{
	position: relative;
	padding-top: 96px;
	h3{
		width: 600px;
		text-align: center;
		margin: auto ;
	}
	.bulit_txt{
		width: 570px;
		max-width: 570px;
		font-size: 16px;
		line-height: 24px;
		font-family: 'Lato', sans-serif;
		color: #00000099;
		margin: 24px auto 0;
		text-align: center;
	}
	.parallax{
		margin-top: 96px;
		min-height: 640px;
		background:url('https://images.unsplash.com/photo-1498036471282-05a678a132e8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80')center center no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}
	.txt_box{
		position: absolute;
		width: 450px;
		background: #fff;
		padding: 16px;
		left: 255px;
		bottom: 77px;
		font-family: 'Merriweather', serif;
		span{
			width: 100%;
			max-width: 570px;
			font-size: 24px;
			line-height: 36px;
		}
		p{
			width: 100%;
			text-align: left;
			color: #00000099;
		}
	}

}

.ul_card{
	display: flex;
	justify-content: space-between;
	padding: 96px 255px;
	overflow: hidden;
	li{
		width: calc(100% / 3 - 20px);
	}
	.txt_box{
		padding-top: 24px;
		h4{
			color: #000;
			line-height: 31px;
			font-weight: 900;
			font-family: 'Merriweather', serif;
		}
		.date{
			color:#00000099;
			font-size: 16px;
			line-height: 20px;
			margin-top: 16px;
		}
		.info{
			font-size: 16px;
			line-height: 24px;
			color: #00000099;
			margin-top: 16px;
		}
	}
}

footer{
	overflow: hidden;
	height: 96px;
	.footer_box{
		max-width: 1410px;
		height: 100%;
		margin: auto;
		display: flex;
		padding: 0 48px;
		justify-content: space-between;
		align-items: center;
		background: #F1F5F6;
		overflow: hidden;
		.menu{
			display: flex;
			li{
				font-size: 16px;
				line-height: 20px;
			}
			li+li{
				margin-left: 48px;
			}
		}
		.copy_rigth{
			color: #00000099;
			font-size: 14px;
			line-height: 16px;
		}
	}
}

.scrollme{
	perspective:600px;
}

.animateme{
	transform-origin:center center center;
}