/*========================variable========================*/
/*========================color========================*/
$GameCF_amount_txt: #fff;
$GameCF_meron_txt: #fe341a;
$GameCF_wala_txt: #0061ad;
$GameCF_tie_txt_light: #33cc33;
$GameCF_tie_txt_dark: #3e6c32;
$GameCF_win_txt: #44f136;
$GameCF_loss_txt: #e70e1d;
/*========================bg========================*/
$GameCF_meron_bg: #c6272b;
$GameCF_wala_bg: #2a64c6;
$GameCF_tie_bg: #4dae4c;
$GameCF_body_bg: #000;
$GameCF_pc_header_bg: linear-gradient(90deg, #1a1a1a 0%, #000000 100%);
/*========================bd========================*/
$GameCF_common_btn_border: linear-gradient(90deg, rgba(156, 105, 50, 0) 10%, #9c6932,#fcf7b7, #9c6932, rgba(156, 105, 50, 0) 90%) 5 5;