.banner{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 320px;
	.banner_item{
		width: 100%;
		height: 100%;
		background:  url('https://github.com/hexschool/webLayoutTraining1st/blob/master/week8/index-banner.jpg?raw=true')no-repeat center/cover ;
		&::before{
			content:'';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #00000061;
		}
	}
	.banner_txt{
		padding: 0 40px;
		max-width: 920px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: absolute;
		width: 100%;
		.material-icons{
			color: #fff;
			font-size: 48px;
		}
		tt{
			font-size: 48px;
			line-height: 56px;
			color: #fff;
		}
	}
}
.top_choices{
	padding-left: 40px;
	h2{
		margin-bottom: 24px;
	}
	.list_tab{
		margin-bottom: 24px;
		li{
			position: relative;
			display: inline-flex;
			align-items: flex-start;
			justify-content: center;
			position: relative;
			color: #00000099;
			padding: 0 24px;
			@extend %hand;
			
		}
		li:before{
			content:'';
			width: 0;
			height: 2px;
			position: absolute;
			left: 0;
			bottom: 0;
			color: #00000099;
			background: #6C51E2;
		}
		li.on,
		li:active{
			color: #6C51E2;
			transition-duration: .3s;
		}
		li.on:before,
		li:active:before{
			width: 100%;
			transition-duration: .3s;
		}
		@include hoverHandler{
			li:hover{
				color: #6C51E2;
				transition-duration: .3s;
			}
			li:hover:before{
				width: 100%;
				transition-duration: .3s;
			}
		}
		.count{
			font-size: 12px;
			font-family: 'Raleway', sans-serif;
			font-weight: bold;
		}
	}
	.content_box{
		position: relative;
	}
	.top_choices_group{
		display: flex;
		overflow-x: auto;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
	}
	.next{
		position: absolute;
		// left: calc(100% - 20px);
		right: -20px;
		top: 0;
		bottom: 30%;
		margin: auto 0;
		width: 40px;
		height: 40px;
		background: #F1F0F8;
		border-radius: 50%;
		@include max1200px{
			right: 20px;
		}
		&:hover{
			cursor: pointer;
		}
	}
	.top_choices_group::-webkit-scrollbar {display: none;}

	.top_choices_item{
		flex: none;
		width: 255px;
		margin-right: 30px;
		.hotel_name{
			font-weight: bold;
			font-size: 16px;
			line-height: 22px;
			margin-top: 8px;
		}
		.pic{
			position: relative;
			height: 175px;
			overflow: hidden;
			border-radius: 8px;
		}
		img{
			@include poa_img;
		}
	}
	.evaluation{
		display: flex;
		color: #00000099;
		margin-top: 10px;

		&_num{
			font-size: 14px;
			line-height: 20px;
		}
		&_reviews{
			font-size: 12px;
			line-height: 18px;
		}
	}

	
	

	.start{
		color: #000;
		margin-right: 4px;
		.material-icons{
			font-size: 17px;
		}
	}
	@include max576px{
		padding-left: 15px;
	}
}
.popular{
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 70px;

	.popular_group{
		display: flex;
		flex-wrap: wrap;
	}
	.popular_item{
		position: relative;
		width: calc(100% / 3 - 20px);
		border-radius: 8px;
		overflow: hidden;
		margin-top: 24px;
		img{
			@include poa_img;
		}
		.txt_box{
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			width: 100%;
			height: 100%;
			padding: 16px 24px;
			background: transparent linear-gradient(270deg, #00000000 0%, #000000 100%);

			.country{
				display: block;
				color: #FFFFFF98;
				font-size: 12px;
				line-height: 18px;
			}
			.city{
				display: block;
				color: #FFFFFF;
				font-size: 24px;
				line-height: 30px;
			}
			.material-icons{
				color: #FFFFFF;
			}
		}
	}
	.popular_item+.popular_item{
		margin-left: 30px;
	}
	.popular_item:nth-child(3n + 1){
		margin-left: 0;
	}
}
.inspiration{
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 70px;
	h2{
		display: flex;
		justify-content: space-between;
		align-items: center;
		
	}
	.inspiration_btn{
		color: #6C51E2;
		height: 35px;
		padding: 0 16px;
		font-size: 14px;
		line-height: 19px;
		margin-bottom: 24px;
		border: 1px solid #6C51E2;
		border-radius: 3px;
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
	}
	.content_box{
		margin-top: 24px;
	}
	.inspiration_gruop{
		display: flex;
	}
	.inspiration_item{
		flex: none;
		width: calc(100% / 3 - 20px);
		&_title{
			display: block;
			margin-top: 24px;
			font-size: 24px;
			line-height: 30px;
			font-weight: bold;
			font-family: "Raleway"
		}
		p{
			margin-top: 8px;
			font-size: 16px;
			line-height: 24px;
			color: #00000099;
		}
		.pic{
			position: relative;
			height: 263px;
			overflow: hidden;
			border-radius: 8px;
		}
		img{
			@include poa_img;
		}
		&:first-child img{
			height: 100%;
		}
	}
	.inspiration_item+.inspiration_item{
		margin-left: 30px;
	}
}
