// max1200px
@mixin mw_xl{
	@media screen and (max-width: 1199px){
		@content;
	}
}
// max992px
@mixin mw_lg{
	@media screen and (max-width: 991px){
		@content;
	}
}
// max768px
@mixin mw_md{
	@media screen and (max-width: 767px){
		@content;
	}
}
// max576px
@mixin mw_sm{
	@media screen and (max-width: 575px){
		@content;
	}
}

@mixin hoverHandler($op, $bg, $txt) {
	@media (pointer: fine),(-moz-touch-enabled: 0),screen and (-ms-high-contrast: active),(-ms-high-contrast: none) {
		&:hover{
			@content;
			opacity: $op;
			background-color: $bg;
			color: $txt;
		}
	}
	&:active {
		@content;
		opacity: $op;
		background-color: $bg;
		color: $txt;
	}
}

@mixin poa_img{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin:auto;
}
@mixin pos_abs($top , $right , $bottom , $left){
	position: absolute;
	top: $top;
	bottom:  $bottom;
	right: $right;
	left: $left;
}

@mixin primary_btn {
	@include hoverHandler(1, #fff, $text_purple);
	color: #fff;
	border-radius: 3px;
	background: $bg_secondary;
	border: 1px solid $bg_secondary;
	text-transform: uppercase;
	cursor: pointer;
	transition-duration: .3s;
	font-weight: bold;
}
@mixin secondary_btn {
	@include hoverHandler(1, $bg_secondary, #fff);
	color:  $text_purple;
	border-radius: 3px;
	border: 1px solid  $bg_secondary;
	background: transparent;
	text-transform: uppercase;
	cursor: pointer;
	transition-duration: .3s;
	font-weight: bold;
}
@mixin cancel_btn {
	@include hoverHandler(1, unset, unset);
	color: #fff;
	border-radius: 3px;
	border: 1px solid #fff;
	background: transparent;
	text-transform: uppercase;
	cursor: pointer;
	transition-duration: .3s;
	font-weight: bold;
}

@mixin d_f($flex, $ai, $jc, $di, $wr) {
	justify-content: $jc;
	align-items: $ai;
	display: $flex;
	flex-direction: $di;
	flex-wrap: $wr;
}

@mixin d_f_center($flex, $ai, $jc) {
	justify-content: $jc;
	align-items: $ai;
	display: $flex;
}

@mixin bg_set($x, $y, $repeat, $size) {
	background-position: $x $y;
	background-repeat: $repeat;
	background-size: $size;
}
// orange use
@mixin omission($line, $height) {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $line;
	overflow: hidden;
	max-height:$height;
}

// 選取勾勾
@mixin checktick($width, $height, $x, $y, $boder, $bc) {
	content: none;
	display: block;
	position: absolute;
	width: $width;
	height: $height;
	left: $x;
	top: $y;
	border-width: 0 0 $boder $boder;
	border-style:  solid;
	border-color: $bc;
	transform: rotate(-48deg);
}
// 陰影
@mixin shadow_primary {
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
}
%transition {
	transition: all .3s ease-in-out;
}
%hand{cursor: pointer;}

// 陰影
%shadow_primary {
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
}