.result_box{
	margin-top: 24px;
}
.function_box{
	width: 350px;
	padding: 24px 24px 24px 0;
	.function_header{
		display: flex;
		align-items: flex-start;
	}
	.count{
		color: #6C51E2;
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
	}
}
.function_group{
	margin-top: 24px;
	padding: 0 24px;
	background: #F1F0F8;
	border-radius: 8px;
	.function_item{
		padding: 24px 0;
	}
	.function_item+.function_item{
		border-top:1px solid #fff;
	}
	h4{
		margin-bottom: 17px;
		font-weight: bold;
	}
	li+li{
		margin-top: 8px;
	}
	.starts{
		margin-right: 8px;
		.material-icons{
			font-size: 18px;
			color: #000;
		}
	}
	.price_box{
		position: relative;
		display: flex;
		align-items: center;
		margin-top: 16px;
		span{
			background: #fff;
			flex: 1 1 50%;
			padding: 8px;
			border-radius: 4px;

			tt:first-child{
				font-size: 12px;
				line-height: 17px;
				font-weight: bold;
				font-family: 'Open Sans', sans-serif;
			}
			tt:nth-child(2){
				font-size: 14px;
				line-height: 19px;
				color: #00000099;
				font-family: 'Open Sans', sans-serif;
			}
		}
		.price_dash{
			margin: 0 8px;
		}
		tt{
			display: block;
		}
	}
}

.list_box{
	
}

