.result_box{
	margin-top: 24px;
	
	.container{
		display: flex;
	}
	@include max1200px{
		padding-left: 40px;
		.container{
			margin: 0;
		}
	}
}
.function_box{
	width: 350px;
	flex: none;
	padding: 24px 0 24px;
	.function_header{
		display: flex;
		height: 40px;
		align-items: flex-start;
	}
	.count{
		color: #6C51E2;
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
	}
	@include max1200px {
		width: 210px;
	}

}
.function_group{
	margin-top: 25px;
	padding: 0 24px;
	background: #F1F0F8;
	border-radius: 8px;
	.function_item{
		padding: 24px 0;
	}
	.function_item+.function_item{
		border-top:1px solid #fff;
	}
	h4{
		margin-bottom: 17px;
		font-weight: bold;
	}
	li+li{
		margin-top: 8px;
	}
	.starts{
		margin-right: 8px;
		.material-icons{
			font-size: 18px;
			color: #000;
		}
	}
	.price_box{
		position: relative;
		display: flex;
		align-items: center;
		margin-top: 16px;
		span{
			background: #fff;
			flex: 1 1 50%;
			padding: 8px;
			border-radius: 4px;

			tt:first-child{
				font-size: 12px;
				line-height: 17px;
				font-weight: bold;
				font-family: 'Open Sans', sans-serif;
			}
			tt:nth-child(2){
				font-size: 14px;
				line-height: 19px;
				color: #00000099;
				font-family: 'Open Sans', sans-serif;
			}
		}
		.price_dash{
			margin: 0 8px;
		}
		tt{
			display: block;
		}
	}
}
.list_txt{
	width: 100%;
	padding: 16px;
}
.list_box{
	width: 100%;
	padding: 24px 0 24px 30px;	
	.list_header{
		display: flex;
		align-items: flex-end;
		height: 40px;
		overflow-x: auto;
		overflow-y: hidden;
		li{
			flex: none;
			font-size: 16px;
			line-height: 24px;
			font-weight: bold;
			margin-right: 24px;
		}
		li.on{
			color: #6C51E2;
		}
	}
	.list_header::-webkit-scrollbar {display: none;}
	
}
.list_group{
	.list_item{
		display: flex;
		padding: 25px 0;
		.pic{
			position: relative;
			overflow: hidden;
			flex: none;
			width: 255px;
			height: 175px;
			border-radius: 8px 0 0 8px;
		}
		img{
			@include poa_img;
		}
	}
	.list_info{
		display: flex;
		width: 100%;
		justify-content: space-between;
		li{
			font-size: 18px;
		}
		h5{
			font-weight: bold;
		}
	}
	.list_evaluate{
		display: flex;
		align-content: flex-start;
		align-items: flex-start;
		justify-content: flex-end;
		flex-wrap: wrap;
		
		.color_graw{
			line-height: 18px;
			margin-left: 4px;
		}
	}
	.list_model{
		margin-top: 16px;
		color: #00000099;
		h5{
			font-weight: bold;
		}
	}
	.list_price{
		display: flex;
		justify-content: space-between;
		
	}
	.list_note{
		display: flex;
		align-self: flex-end;
		flex-wrap: wrap;
		li{
			font-size: 12px;
			line-height: 17px;
			border-radius: 13px;
			color: #00000099;
			background: #F1F0F8;
			padding: 4px 8px;
		}
		li+li{
			margin-left: 4px;
		}
	}
	@include max992px{
		.list_model{
			margin-top: 8px;
		}
		.list_txt{
			h3{
				font-size: 16px;
				line-height: 22px;
				white-space: nowrap;
			}
		}
		.list_item{
			padding-right: 40px;
			.pic{
				width: 150px;
				height: 150px;
			}
		}
		.color_graw{
			span{
				display: none;
			}
		}
		.list_note{
			li{
				transform: scale(.85);
			}
		}
	}
}
.page_box{
	padding: 16px;
	background: #F1F0F8;
	display: flex;
	justify-content: space-between;
	margin-top: 48px;
	border-radius: 8px;
	button{
		padding: 8px 16px;
		border-radius: 3px;
		color: #6C51E2;
		border:1px solid #6C51E2;

		@include hoverHandler{
			&:hover{
				background: #6C51E2;
				color: #fff;
				transition-duration: .3s;
				cursor: pointer;
			}
		}
	}
	ul{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	li{
		padding: 8px 14px;
		font-size: 16px;
		font-weight: bold;
		cursor: pointer;
	}
	li.on{
		background: #fff;
	}
}
