// 字體顏色與大小
$text_primary:#121212;
$text_secondary:#00000099;
$text_purple:#6C51E2;
$text_size_primary:16px;
$text_size_secondary:14px;
$text_family_secondary:'Raleway';
// 背景色
$bg_primary:#F1F0F8;
$bg_secondary:#6C51E2;
$bg_white:#fff;
/*================================================*/
// 距離
$distance_primary:8px;
@function distance($count: 1) {
    @return $distance_primary * $count;
}
// 動畫
.active_item {
    opacity: 0;
    visibility: collapse;
}
.active{
    > .active_item,
    ~ .active_item {
        visibility: visible;
        opacity: 1;
    }
}
// 常用全域設定
html,
body,
input,
button,
select,
textarea,
tt {
    font-family: 'Open sans',
    sans-serif;
    color: $text_primary;
    font-size: $text_size_primary;
}
.outside {
    width: 100%;
    height: 100%;    
}
.main_width {
    max-width: 1110px;
    margin: auto;
}
.scroll_box{
    height: calc(100% - 72px);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.hab_btn{
    @include pos_abs(0, auto, 0, 15px);
    @include hoverHandler(1, $bg_primary, $text_purple);
    @extend %hand;
    display: none;
    height: 24px;
    margin: auto;
    @include mw_sm{
        display: block;
    }
}
.main_logo{
    @include hoverHandler (.7, unset, transparent);
    @extend %hand;
    width: 96px;
    height: 24px;
    background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/13f2e6e6b718b6abafb62ce7a672d42fc39eaeae/week8/logo-aloha.svg) no-repeat center;
    color: transparent;
    @include mw_sm {
        @include pos_abs(0, 0, 0, 0);
        margin: auto;
    }
}
.material-icons {
    >* {
        font-family: 'Open sans';
    }
    &:before {
        @include pos_abs(0, auto, 0, 16px);
        content: attr(data-icon);
        height: 24px;
        margin: auto;
    }
}
h2{
	font-size: 32px;
	line-height: 38px;
	font-weight: bold;
	font-family: $text_family_secondary;
}
h3{
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	font-family: $text_family_secondary;
}
.fz-12{
	font-size: 12px;
	line-height: 18px;
}
.fz-14{
	font-size: 14px;
	line-height: 20px;
}
.fz-16{
	font-size: 16px;
	line-height: 22px;
}

.color_purple{color:#6C51E2}
.color_graw{color:#00000099}
.txt_r{text-align: right;}
.txt_c{text-align: center;}

.container{
	margin: auto;
	max-width: 1110px;
}
.reserve{
	.container{
		max-width: 730px;
		display: flex;
		flex-wrap: wrap;
	}
	@include mw_sm{
		.container{
			flex-wrap: wrap-reverse;
		}
	}
}
.reserve_s{
	.container{
		max-width: 730px;
		display: flex;
		flex-wrap: wrap;
	}
}

header{
    display: flex;
    padding: 24px 0;
    align-items: center;
    @include mw_lg {
        padding: 24px 39px;
    }
    @include mw_sm {
        position: relative;
        padding: 16px 15px;
    }
    >.select_box{
        &:not(._member) {
            @include mw_sm {
                display: none;
            }
        }
    }
}
.select_box{
    @include d_f_center(flex, center, unset);
    position: relative;
    height: 24px;
    font-size: $text_size_secondary;
    margin-left: auto;
    +.select_box{
        margin-left: 24px;
    }
    >i{
        width: 24px;
        height: 24px;
        pointer-events: none;
    }
    >.function{
        @include pos_abs(0, auto, 0, 0);
    }
    >.arr {
        @include pos_abs(0, 0, 0, auto);
    }
    >select,
    &._member>span {
        @extend %hand;
        width: 100%;
        height: 100%;
        line-height: 24px;
        padding: 0 24px 0 34px;
        color: $text_secondary;
        font-size: $text_size_secondary;
    }
    &._member{
        @include mw_sm {
            margin: 0 24px 0 auto;
        }
    }
    &._member>span{
        color: $text_primary;
        @include mw_sm {
            display: none;
        }
    }
    &._member>i{
        @include mw_sm {
            display: none;
        }
    }
}
.select_member_img{
    @include pos_abs(0, auto, 0, 0);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid $bg_secondary;
    overflow: hidden;
}
.txt_btn{
    margin-left: 48px;
    @extend %hand;
    @include hoverHandler(.7, unset, unset);
    @include mw_sm{
        margin-left: auto;
        &:nth-last-child(2) {
            display: none;
        }
    }
}
// 搜尋
.search_box{
    @include pos_abs(calc(100% - 52px), 0, auto, 0);
    max-width: 1110px;
    padding: 24px;
    background-color: $bg_primary;
    border-radius: 8px;
    margin: auto;
    @include mw_lg {
        width: 576px;
        height: auto;
    }
    @include mw_sm {
        width: calc(100% - 30px);
    }
    &_width {
        @include d_f_center(flex, center, space-between);
        margin: auto;
        @include mw_lg {
            @include d_f(flex, unset, unset, column, unset);
            height: auto;
        }
    }
    &_item {
        position: relative;
        width: calc((100% - 158px) / 3);
        height: 56px;
        background-color: $bg_white;
        border-radius: 4px;

        @include mw_lg {
            width: 100%;
            margin-bottom: 16px;
        }

        >.import_box {
            @include d_f(flex, flex-start, center, column, unset);
            height: 100%;
            padding: 0 16px 0 56px;
            >i {
                line-height: 56px;
                margin-right: 16px;
            }
            >input{
                width: 100%;
            }
            >span {
                color: $text_secondary;
                font-size: 16px;
            }
            .more_title,
            >tt {
                display: none;
            }
        }
    }
    // 搜尋後樣式
    &._orther_state{
        width: 100%;
        max-width: none;
        padding: 16px 0;
        border-radius: 0;
        top: auto;
        position: relative;
        >.search_box_width {
            max-width: 1110px;            
            @include mw_lg {
                @include d_f(flex, unset, space-between, row, unset);
                padding: 0 39px;
            }
            @include mw_sm {
                padding: 0;
            }
            >.search_box_item{
                @include mw_lg {
                    width: calc((100% - 150px) / 3);
                    margin-bottom: 0;
                }
                @include mw_sm {
                    position: relative;
                    width: calc(100% / 3);
                    height: auto;
                    background-color: transparent;
                }
                &:not(:last-child):after{
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 33px;
                    background-color: #fff;
                    top: 0;
                    bottom: 0;
                    left: 100%;
                    margin: auto;
                }
            }
            >.saerch_btn{
                width: 126px;
                @include mw_sm {
                    display: none;
                }
            }
        }
        .import_box {
            padding: 0 8px 0 40px;
            @include mw_sm {
                @include d_f_center(flex, center, center);
                padding: 0;
            }
            &.material-icons:before{
                left: 8px;
                @include mw_sm {
                    content: none;
                }
            }
            >input{
                display: none;
            }
            >.more_title{
                display: block;
            }
            >.more_title,
            >span {
                color: #000;
                font-weight: bold;
                font-size: 12px;
                text-transform: uppercase;
                @include mw_sm {
                    display: none;
                }
            }
            >tt {
                display: block;
                line-height: 20px;
                color: $text_secondary;
                font-size: 14px;
            }
        }
    }
}
.search_location_list {
    @include pos_abs(calc(100% + 8px), 0, auto, 0);
    @extend %shadow_primary;
    @extend %transition;
    background-color: $bg_white;
    border-radius: 4px;
    z-index: 2;
    >li {
        @include d_f(flex, unset, center, column, wrap);
        @extend %hand;
        position: relative;
        padding: 8px 16px 8px 48px;
        background-color: transparent;
        @include hoverHandler(1, $bg_primary, unset);
        &.on {
            background-color: $bg_primary;
        }
        >span,
        >tt{
            font-size: $text_size_primary;
        }
        >tt{
            color: $text_secondary;
            font-size: 12px;
        }
    }

}
.search_guest_list{
    @include pos_abs(calc(100% + 8px), 0, auto, 0);
    @extend %shadow_primary;
    @extend %transition;
    padding: 6px 0;
    background-color: $bg_white;
    border-radius: 4px;
    z-index: 2;
    >li{
        @include d_f_center(flex, center, unset);
        padding: 8px 16px;

    }
    input{
        width: 48px;
        height: 100%;
        text-align: center;
    }
    .qu_btn{
        display: block;
        width: 24px;
        @include hoverHandler(.7, unset, unset);
        &:first-of-type{
            margin-left: auto;
        }
    }
}
.saerch_btn{
    @include primary_btn;
    width: 126px;
    height: 56px;
    @include mw_lg{
        width: 100%;
    }
}
// 星級評分
.score_box{
    >li{
        color: #000;
    }
}
// 訂閱
.subscripte_box{
    padding: 92px 0;
    background-color: $bg_primary;
    >div{
        @include d_f(flex, center, center, column, unset);
    }
    h2{
        font-family: $text_family_secondary;
        font-size: 48px;
        font-weight: 800;
        margin-bottom: 24px;
        @include mw_sm {
            font-size: 24px;
            margin-bottom: 16px;
        }
    }
    &_item {
        @include d_f_center(flex, center, center);
        width: 540px;
        height: 56px;
        background-color: #fff;
        border-radius: 4px;
        overflow: hidden;
        @include mw_sm {
            width: calc(100% - 30px);
        }
        >input{
            flex:1 1 100%;
            padding: 0 20px;
        }
        >.subscripte_btn{
            @include primary_btn;
            width: 150px;
            height: 100%;
            border-radius: 0 4px 4px 0;
            flex: none;
        }
    }

    &._orther_state{
        padding: 34px 0;
        @include mw_lg{
            padding: 34px 40px;
        }
        @include mw_md{
            padding: 24px 15px;
        }
        >div{
            @include d_f(flex, center, space-between, row, unset);
            @include mw_sm{
                flex-direction: column;
            }
        }
        h2{
            font-size: 32px;
            line-height: 38px;
            margin-bottom: 0;
            margin-right: 37px;
            @include mw_lg{
                font-size: 24px;
                line-height: 36px;
                max-width: 173px;
            }
            @include mw_sm{
                max-width: 100%;
                margin-right: 0;
                margin-bottom: 16px;

            }
        }
    }
}

// footer
footer{
    @include d_f_center(flex, center, unset);
    padding: 26px 0;
    border-top: 1px solid $bg_primary;
    @include mw_lg {
        padding: 26px 39px;
    }
    >.select_box{
        margin-left: auto;
        @include mw_lg{
            display: none;
        }
    }    
}
.copyright_box {
    color: $text_secondary;
    font-size: 14px;
    @include mw_lg{
        @include d_f_center(flex, center, space-between);
        width: 100%;
    }
    @include mw_sm {
        @include d_f(flex, center, unset, column-reverse, unset);
        width: 100%;
    }
    >ul {
        @include d_f_center(inline-flex, center, unset);
        margin-left: 64px;
        @include mw_sm {
            margin-left: 0;
            margin-bottom: 16px;
        }
        >li{
            @extend %hand;
            @include hoverHandler(.7, unset, unset);
        }
        >li + li{
            margin-left: 24px;
        }
    }
}
.mod_select_box{
	position: relative;
	display: flex;
	align-items: center;
	span{
		display: block;
		height: 100%;
	}
	.mod_select_btn{
		display: flex;
		width: 100%;
		height: 100%;
		align-items: center;

		tt{
			margin: 0 10px;
		}
	}
	.second_menu{
		display: block;
		position: absolute;
		top: calc(100% + 5px);
		background: #fff;
		box-shadow: 0 0 3px #000;
		transform: scale(1, 0);
		opacity: 0;
		visibility: collapse;
		transform-origin: 0 0;
		transition: all 300ms cubic-bezier(.55,0,.42,1);
		z-index: 1;
		li{
			margin-right: 0;
			white-space: nowrap;
			padding: 5px 10px;
			@include hoverHandler(1px, $bg_secondary, #fff);
		}

	}
	.second_mb_menu{
		display: none;
	}
	&.active{
		.second_menu{
			opacity: 1;
			transform: scale(1, 1);
			visibility: visible;
		}
	}
	@include mw_md{
		.second_menu{
			display: none;
		}
		.second_mb_menu{
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
		}
	}
}

.mod_checkbox{
	cursor: pointer;
	display: flex;
	align-items: center;
	font-size: 16px;
	line-height: 22px;
	color: #00000099;
	font-family: 'Open Sans', sans-serif;
	input{
		display: none;
	}
	span{
		position: relative;
		display: inline-block;
		width: 18px;
		height: 18px;
		border: 2px solid #000000;
		margin-right: 5px;
	}
	input:checked ~ span::after {
		content: '';
		display: block;
		@include pos_abs( 3px , auto , auto ,2px);
		width: 8px;
		height: 4px;
		transform: rotate(-48deg);
		background: transparent;
		border-width: 2px 2px;
		border-style: none none solid solid;
		border-color: #6C51E2 #6C51E2;
		border-image: initial;
		border-top: none;
		border-right: none;
	}
	@include mw_xl{
		font-size: 14px;
		line-height: 20px;
	}
}
.mod_range{
	position: relative;
	display: block;
	width: 100%;
	&::before{
		content:'';
		@include pos_abs( 0 , auto , 0 ,auto);
		display: block;
		width: 100%;
		height: 1px;
		background: #6C51E2;
		margin: auto;
	}
	input{
		position: relative;
		width: 100%;
	}
	input[type="range"]::-webkit-slider-thumb{
		-webkit-appearance: none;
		position: relative;
		width:10px;
		height:10px;
		background: #6C51E2;
		border-radius:50%;
		transition:.2s;
	}
}
.mod_btn_box{
	display: flex;
	button{
		margin-left: 8px;
	}
	.primary_btn{
		@include primary_btn;
	}
	.edit_btn{
		@include secondary_btn;
	}
}
.mod_price{
	display: flex;
	margin-top: 10px;
	position: relative;
	font-size: 12px;
	line-height: 20px;
	color: #00000099;
	span{
		font-size: 24px;
		line-height: 30px;
		font-weight: bold;
		font-family: 'Raleway', sans-serif;
	}
	&::after{
		content:'TWD'	 attr(data-oprice);
		margin: auto 0 ;
		font-size: 12px;
		text-decoration: line-through;
		color: #00000061;
		margin-left: 8px;
	}
}
.inp_box{
	span{
		display: block;
		color: #00000099;
		font-size: 16px;
		line-height: 22px;
	}
}
