@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@import "variable";
@import "mod_margin";
@import "mixin";
@import "share";
@import "result";
@import "login";
@import "home";
@import "reserve";

.wrap{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
