@mixin aniHandler{

    &.active{
        >.active_item,
        ~.active_item{
            visibility: visible;
            opacity: 1;
        }
    }
}
    .active_item{
        visibility: hidden;
        opacity: 0;
    }
.ooo{
    @include aniHandler();
}

%op07{opacity: .7;}








$op: 1 !default;

@mixin hoverHandler($op){
	@media (pointer: fine),
	(-moz-touch-enabled: 0),
	screen and (-ms-high-contrast: active), (-ms-high-contrast: none){ 
        &:hover{
            opacity: $op;
            @content;
        }
	}
}

.ooooo{
    @include hoverHandler(1);
}


