// max1200px
@mixin mw_xl{
	@media screen and (max-width: 1199px){
		@content;
	}
}
// max992px
@mixin mw_lg{
	@media screen and (max-width: 991px){
		@content;
	}
}
// max768px
@mixin mw_md{
	@media screen and (max-width: 767px){
		@content;
	}
}
// max576px
@mixin mw_sm{
	@media screen and (max-width: 575px){
		@content;
	}
}

@mixin scroll($x , $y) {
    overflow-x: $x;
    overflow-y: $y;
    -webkit-overflow-scrolling: touch;
}

@mixin d_flex($ai, $jc) {
	display: flex;
	justify-content: $jc;
	align-items: $ai;
}