html,
body,
input,
button,
select,
textarea,
tt {
	font-family: 'Roboto', sans-serif;
	// font-family: 'Open sans',
	// sans-serif;
	font-size: 20px;
	color: #772400;
}

h2{
	font-size: 40px;
	color: #772400;
	font-weight: bold;
	line-height: 60px;
}
h3{
	font-size: 32px;
	line-height: 48px;
	font-weight: bold;
}
// 模組 start
.container{
	position: relative;
	max-width: 1280px;
	margin: auto;
	padding: 0 85px;
}

.scroll_box{
	width: 100%;
	height: 100%;
	overflow: hidden;
	&:not(._lg){
		height: calc(100% - 65px);
		@include scroll(hidden , auto);
	}
	@include mw_lg{
		&._lg{
			@include scroll(hidden , auto);
		}
		&:not(._lg){
			height: auto;
			@include scroll(hidden , hidden);
		}
	}
	> div+div{
		margin-top: 80px;
	}
}
.primary_btn{
	width: 100%;
	background-color: #D54100;
	color: #ffffff;
	font-size: 16px;
	border-radius: 3px;
	transition-duration: .3s;
	cursor: pointer;

	@include hoverHandler{
		background-color: #772400;
	}
}

.scroll_btn{
	position: absolute;
	top: 15%;
	bottom: 0;
	right: 5%;
	width: 44px;
	height: 44px;
	margin: auto 0;
	background-color: #772400;
	border-radius: 50%;
	transform: rotate(270deg);
	&::after{
		content: '\25BE';
		position: absolute;
		width: 25px;
		height: 100%;
		color: #fff;
		font-size: 20px;
		top: 0;
		left: 0;
		right: 0;
		margin: auto;
		line-height: 44px;
		pointer-events: none;
	}


}

.normol_inp{
	width: 100%;
	height: 48px;
	padding-left: 12px;
	background-color: #fff;
	border: 1px solid #CED4DA;
}

.normol_select{
	height: 50px;
	padding: 0 16px;
	color: #6C757D;
	border: 1px solid #CED4DA;
	appearance: auto;
}
// 模組 end




header{
	@include d_flex(center,space-between);
	height: 65px;
	padding: 0 85px;
	max-width: 1280px;
	margin: auto;
	.logo{
		@include logo;
		a{
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			text-indent: 101%;
			white-space: nowrap;
			overflow: hidden;
		}
	}
	.menu{
		@include d_flex(flex-start,flex-start);
		color: $primary_color;
		li{
			font-size: 16px;
			line-height: 24px;
		}
		li+li{
			margin-left: 40px;
		}
	}
}

.footer{
	padding: 60px 0 28px;
	&_list{
		display: flex;
		justify-content: space-between;

		li:not(.title){
			font-size: 16px;
			line-height: 24px;
		}
		li+li{
			margin-top: 24px;
		}	
		.title{
			height: 55px;
			line-height: 55px;
			font-weight: bold;
		}
		.logo{
			@include logo;
		}
	}

	&_inf{
		display: flex;
		justify-content: space-between;
		margin-top: 108px;
		.phone{
			display: inline-flex;
			align-items: center;
		}
		.phone::before{
			content:'';
			display: inline-block;
			width: 18px;
			height: 18px;
			margin-right: 12px;
			background: url('../../images/call.svg')no-repeat center/cover;
		}
		.copyright{
			font-size: 14px;
			line-height: 20px;
		}
		
	}
}