.mb-xl-8px {
  font-size: 8px;
}

@media screen and (max-width: 576px) {
  .mb-lg-8px {
    font-size: 8px;
  }
}

.mt-xl-8px {
  font-size: 8px;
}

@media screen and (max-width: 576px) {
  .mt-lg-8px {
    font-size: 8px;
  }
}

.ml-xl-8px {
  font-size: 8px;
}

@media screen and (max-width: 576px) {
  .ml-lg-8px {
    font-size: 8px;
  }
}

.mr-xl-8px {
  font-size: 8px;
}

@media screen and (max-width: 576px) {
  .mr-lg-8px {
    font-size: 8px;
  }
}

.m-xl-8px {
  font-size: 8px;
}

@media screen and (max-width: 576px) {
  .m-lg-8px {
    font-size: 8px;
  }
}

.mb-xl-16px {
  font-size: 16px;
}

@media screen and (max-width: 576px) {
  .mb-lg-16px {
    font-size: 16px;
  }
}

.mt-xl-16px {
  font-size: 16px;
}

@media screen and (max-width: 576px) {
  .mt-lg-16px {
    font-size: 16px;
  }
}

.ml-xl-16px {
  font-size: 16px;
}

@media screen and (max-width: 576px) {
  .ml-lg-16px {
    font-size: 16px;
  }
}

.mr-xl-16px {
  font-size: 16px;
}

@media screen and (max-width: 576px) {
  .mr-lg-16px {
    font-size: 16px;
  }
}

.m-xl-16px {
  font-size: 16px;
}

@media screen and (max-width: 576px) {
  .m-lg-16px {
    font-size: 16px;
  }
}

.mb-xl-24px {
  font-size: 24px;
}

@media screen and (max-width: 576px) {
  .mb-lg-24px {
    font-size: 24px;
  }
}

.mt-xl-24px {
  font-size: 24px;
}

@media screen and (max-width: 576px) {
  .mt-lg-24px {
    font-size: 24px;
  }
}

.ml-xl-24px {
  font-size: 24px;
}

@media screen and (max-width: 576px) {
  .ml-lg-24px {
    font-size: 24px;
  }
}

.mr-xl-24px {
  font-size: 24px;
}

@media screen and (max-width: 576px) {
  .mr-lg-24px {
    font-size: 24px;
  }
}

.m-xl-24px {
  font-size: 24px;
}

@media screen and (max-width: 576px) {
  .m-lg-24px {
    font-size: 24px;
  }
}

.mb-xl-32px {
  font-size: 32px;
}

@media screen and (max-width: 576px) {
  .mb-lg-32px {
    font-size: 32px;
  }
}

.mt-xl-32px {
  font-size: 32px;
}

@media screen and (max-width: 576px) {
  .mt-lg-32px {
    font-size: 32px;
  }
}

.ml-xl-32px {
  font-size: 32px;
}

@media screen and (max-width: 576px) {
  .ml-lg-32px {
    font-size: 32px;
  }
}

.mr-xl-32px {
  font-size: 32px;
}

@media screen and (max-width: 576px) {
  .mr-lg-32px {
    font-size: 32px;
  }
}

.m-xl-32px {
  font-size: 32px;
}

@media screen and (max-width: 576px) {
  .m-lg-32px {
    font-size: 32px;
  }
}

.mb-xl-40px {
  font-size: 40px;
}

@media screen and (max-width: 576px) {
  .mb-lg-40px {
    font-size: 40px;
  }
}

.mt-xl-40px {
  font-size: 40px;
}

@media screen and (max-width: 576px) {
  .mt-lg-40px {
    font-size: 40px;
  }
}

.ml-xl-40px {
  font-size: 40px;
}

@media screen and (max-width: 576px) {
  .ml-lg-40px {
    font-size: 40px;
  }
}

.mr-xl-40px {
  font-size: 40px;
}

@media screen and (max-width: 576px) {
  .mr-lg-40px {
    font-size: 40px;
  }
}

.m-xl-40px {
  font-size: 40px;
}

@media screen and (max-width: 576px) {
  .m-lg-40px {
    font-size: 40px;
  }
}

.mb-xl-48px {
  font-size: 48px;
}

@media screen and (max-width: 576px) {
  .mb-lg-48px {
    font-size: 48px;
  }
}

.mt-xl-48px {
  font-size: 48px;
}

@media screen and (max-width: 576px) {
  .mt-lg-48px {
    font-size: 48px;
  }
}

.ml-xl-48px {
  font-size: 48px;
}

@media screen and (max-width: 576px) {
  .ml-lg-48px {
    font-size: 48px;
  }
}

.mr-xl-48px {
  font-size: 48px;
}

@media screen and (max-width: 576px) {
  .mr-lg-48px {
    font-size: 48px;
  }
}

.m-xl-48px {
  font-size: 48px;
}

@media screen and (max-width: 576px) {
  .m-lg-48px {
    font-size: 48px;
  }
}

.mb-xl-56px {
  font-size: 56px;
}

@media screen and (max-width: 576px) {
  .mb-lg-56px {
    font-size: 56px;
  }
}

.mt-xl-56px {
  font-size: 56px;
}

@media screen and (max-width: 576px) {
  .mt-lg-56px {
    font-size: 56px;
  }
}

.ml-xl-56px {
  font-size: 56px;
}

@media screen and (max-width: 576px) {
  .ml-lg-56px {
    font-size: 56px;
  }
}

.mr-xl-56px {
  font-size: 56px;
}

@media screen and (max-width: 576px) {
  .mr-lg-56px {
    font-size: 56px;
  }
}

.m-xl-56px {
  font-size: 56px;
}

@media screen and (max-width: 576px) {
  .m-lg-56px {
    font-size: 56px;
  }
}

.mb-xl-64px {
  font-size: 64px;
}

@media screen and (max-width: 576px) {
  .mb-lg-64px {
    font-size: 64px;
  }
}

.mt-xl-64px {
  font-size: 64px;
}

@media screen and (max-width: 576px) {
  .mt-lg-64px {
    font-size: 64px;
  }
}

.ml-xl-64px {
  font-size: 64px;
}

@media screen and (max-width: 576px) {
  .ml-lg-64px {
    font-size: 64px;
  }
}

.mr-xl-64px {
  font-size: 64px;
}

@media screen and (max-width: 576px) {
  .mr-lg-64px {
    font-size: 64px;
  }
}

.m-xl-64px {
  font-size: 64px;
}

@media screen and (max-width: 576px) {
  .m-lg-64px {
    font-size: 64px;
  }
}

.mb-xl-72px {
  font-size: 72px;
}

@media screen and (max-width: 576px) {
  .mb-lg-72px {
    font-size: 72px;
  }
}

.mt-xl-72px {
  font-size: 72px;
}

@media screen and (max-width: 576px) {
  .mt-lg-72px {
    font-size: 72px;
  }
}

.ml-xl-72px {
  font-size: 72px;
}

@media screen and (max-width: 576px) {
  .ml-lg-72px {
    font-size: 72px;
  }
}

.mr-xl-72px {
  font-size: 72px;
}

@media screen and (max-width: 576px) {
  .mr-lg-72px {
    font-size: 72px;
  }
}

.m-xl-72px {
  font-size: 72px;
}

@media screen and (max-width: 576px) {
  .m-lg-72px {
    font-size: 72px;
  }
}
/*# sourceMappingURL=ttt.css.map */